@font-face {
  font-family: "Pacifico-Regular";
  src: url(../font/Pacifico-Regular.ttf); }
@font-face {
  font-family: "Lobster-Regular";
  src: url(../font/Lobster-Regular.ttf); }
h1 {
  font-family: 'Pacifico-Regular', cursive; }

body {
  font-family: 'Lobster', cursive; }

.mg-center {
  margin: 0 auto; }

.mg-fm {
  margin: 0 !important; }

.pd-2 {
  padding: 2em; }

.custom-8-h {
  max-height: 500px;
  overflow: scroll; }

* {
  box-sizing: border-box; }

.navbar-menu .navbar-start {
  margin-right: 0; }

#rg-button {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 999; }
  #rg-button button.delete {
    position: absolute;
    top: 0px;
    right: 0px; }
  #rg-button svg.svg-inline--fa.fa-heart.fa-w-16 {
    display: none; }
  #rg-button img {
    width: 43px;
    display: none; }
  #rg-button:hover {
    transition: all 1s linear; }
    #rg-button:hover img {
      display: block; }
    #rg-button:hover svg.svg-inline--fa.fa-heart.fa-w-16 {
      display: block; }

#up-button {
  padding: .5em 1em;
  border-radius: 50%;
  background-color: #ff470f;
  position: fixed;
  right: 0;
  bottom: 5%;
  z-index: 999; }
  #up-button svg.svg-inline--fa.fa-level-up-alt.fa-w-10 {
    font-size: 2rem;
    color: whitesmoke; }
  #up-button:hover {
    background-color: #dbdbdb; }
    #up-button:hover svg.svg-inline--fa.fa-level-up-alt.fa-w-10 {
      color: #ff470f; }

.head-title.has-text-centered {
  margin-bottom: 30px; }

#block-h-1 {
  margin-bottom: 50px;
  transition: all 1.5s; }
  #block-h-1 .item {
    padding: 0;
    position: relative; }
    #block-h-1 .item:hover {
      transform: translateY(-5px);
      box-shadow: 1em 1em 1em 0.5em;
      transition: all 1s linear; }
  #block-h-1 .block-1-h-f {
    position: absolute;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center; }

#block-h-2 .hero {
  background-image: url(../assets/img/bg-x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  #block-h-2 .hero .card-box {
    text-align: center; }
    #block-h-2 .hero .card-box .holder {
      text-align: center; }
      #block-h-2 .hero .card-box .holder .counting {
        font-family: Tahoma;
        font-size: 2rem;
        display: inline-block;
        width: 50px; }
        #block-h-2 .hero .card-box .holder .counting:before {
          content: "";
          animation: counting 5s linear forwards; }
      #block-h-2 .hero .card-box .holder .counting-2 {
        font-family: Tahoma;
        font-size: 2rem;
        display: inline-block;
        width: 50px; }
        #block-h-2 .hero .card-box .holder .counting-2:before {
          content: "";
          animation: counting-2 5s linear forwards; }
      #block-h-2 .hero .card-box .holder .counting-3 {
        font-family: Tahoma;
        font-size: 2rem;
        display: inline-block;
        width: 50px; }
        #block-h-2 .hero .card-box .holder .counting-3:before {
          content: "";
          animation: counting-3 5s linear forwards; }

#block-h-3 .item:hover .card {
  transform: scale(1.1);
  transition: all 1s linear; }
#block-h-3 .item .card:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 99;
  display: none; }
#block-h-3 .item .card:hover:before {
  display: block; }
#block-h-3 .item .card:hover .plus-icon {
  display: block;
  transition: all .5s linear; }
#block-h-3 .item .card-image {
  position: relative; }
#block-h-3 .item .plus-icon {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ffdd57;
  display: none;
  z-index: 600;
  top: 50%;
  left: 50%;
  transform: translate(-25px, -25px); }
  #block-h-3 .item .plus-icon:before {
    content: "";
    position: inherit;
    width: 30px;
    border: 3px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-15px) rotate(90deg); }
  #block-h-3 .item .plus-icon:after {
    content: "";
    position: inherit;
    width: 30px;
    border: 3px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-15px); }
  #block-h-3 .item .plus-icon:hover {
    background-color: white; }
    #block-h-3 .item .plus-icon:hover:before, #block-h-3 .item .plus-icon:hover:after {
      border-color: #ffdd57; }
#block-h-3 .item .card-content h3 {
  margin: 0; }
#block-h-3 .item .card-content img {
  margin: 20px auto; }

#block-form {
  color: white; }
  #block-form .hero {
    background-image: url(../assets/img/bg-f.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  #block-form a {
    display: block;
    font-size: 1.2em;
    color: white; }
  #block-form .icon-contact svg.svg-inline--fa {
    color: #ffdd57;
    font-size: 3rem; }
  #block-form input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    box-shadow: none;
    border-bottom-width: 3px; }
  #block-form .control.has-text-centered {
    position: relative; }
  #block-form .button {
    font-size: 1.5em;
    background-image: linear-gradient(to bottom right, red, yellow); }
    #block-form .button svg.svg-inline--fa {
      color: #fff457;
      font-size: 2rem;
      display: none; }
  #block-form:hover svg.svg-inline--fa {
    display: inline-block; }

#login {
  background-image: url(../assets/img/bg-f.png);
  background-repeat: no-repeat;
  background-size: cover; }
  #login #login-content {
    margin: 10% auto;
    width: 300px;
    padding: 1.5em;
    background-color: rgba(0, 0, 0, 0.3); }
    #login #login-content a {
      color: #fff; }

#result-p {
  margin: 10% auto; }
  #result-p .card {
    padding: 1em;
    margin: 5px 0; }
    #result-p .card .media-content .message-body {
      padding: .5em; }

.owl-carousel .item {
  padding: 1em; }

footer {
  background-color: #343434 !important; }

@keyframes counting {
  0% {
    content: "0"; }
  1% {
    content: "1"; }
  2% {
    content: "2"; }
  3% {
    content: "3"; }
  4% {
    content: "4"; }
  5% {
    content: "5"; }
  6% {
    content: "6"; }
  7% {
    content: "7"; }
  8% {
    content: "8"; }
  9% {
    content: "9"; }
  10% {
    content: "10"; }
  11% {
    content: "11"; }
  12% {
    content: "12"; }
  13% {
    content: "13"; }
  14% {
    content: "14"; }
  15% {
    content: "15"; }
  16% {
    content: "16"; }
  17% {
    content: "17"; }
  18% {
    content: "18"; }
  19% {
    content: "19"; }
  20% {
    content: "20"; }
  21% {
    content: "21"; }
  22% {
    content: "22"; }
  23% {
    content: "23"; }
  24% {
    content: "24"; }
  25% {
    content: "25"; }
  26% {
    content: "26"; }
  27% {
    content: "27"; }
  28% {
    content: "28"; }
  29% {
    content: "29"; }
  30% {
    content: "30"; }
  31% {
    content: "31"; }
  32% {
    content: "32"; }
  33% {
    content: "33"; }
  34% {
    content: "34"; }
  35% {
    content: "35"; }
  36% {
    content: "36"; }
  37% {
    content: "37"; }
  38% {
    content: "38"; }
  39% {
    content: "39"; }
  40% {
    content: "40"; }
  41% {
    content: "41"; }
  42% {
    content: "42"; }
  43% {
    content: "43"; }
  44% {
    content: "44"; }
  45% {
    content: "45"; }
  46% {
    content: "46"; }
  47% {
    content: "47"; }
  48% {
    content: "48"; }
  49% {
    content: "49"; }
  50% {
    content: "50"; }
  51% {
    content: "51"; }
  52% {
    content: "52"; }
  53% {
    content: "53"; }
  54% {
    content: "54"; }
  55% {
    content: "55"; }
  56% {
    content: "56"; }
  57% {
    content: "57"; }
  58% {
    content: "58"; }
  59% {
    content: "59"; }
  60% {
    content: "60"; }
  61% {
    content: "61"; }
  62% {
    content: "62"; }
  63% {
    content: "63"; }
  64% {
    content: "64"; }
  65% {
    content: "65"; }
  66% {
    content: "66"; }
  67% {
    content: "67"; }
  68% {
    content: "68"; }
  69% {
    content: "69"; }
  70% {
    content: "70"; }
  71% {
    content: "71"; }
  72% {
    content: "72"; }
  73% {
    content: "73"; }
  74% {
    content: "74"; }
  75% {
    content: "75"; }
  76% {
    content: "76"; }
  77% {
    content: "77"; }
  78% {
    content: "78"; }
  79% {
    content: "79"; }
  80% {
    content: "80"; }
  81% {
    content: "81"; }
  82% {
    content: "82"; }
  83% {
    content: "83"; }
  84% {
    content: "84"; }
  85% {
    content: "85"; }
  86% {
    content: "86"; }
  87% {
    content: "87"; }
  88% {
    content: "88"; }
  89% {
    content: "89"; }
  90% {
    content: "90"; }
  91% {
    content: "91"; }
  92% {
    content: "92"; }
  93% {
    content: "93"; }
  94% {
    content: "94"; }
  95% {
    content: "95"; }
  96% {
    content: "96"; }
  97% {
    content: "97"; }
  98% {
    content: "98"; }
  99% {
    content: "99"; }
  100% {
    content: "100"; } }
@keyframes counting-2 {
  0% {
    content: "0"; }
  1% {
    content: "1"; }
  2% {
    content: "2"; }
  3% {
    content: "3"; }
  4% {
    content: "4"; }
  5% {
    content: "5"; }
  6% {
    content: "6"; }
  7% {
    content: "7"; }
  8% {
    content: "8"; }
  9% {
    content: "9"; }
  10% {
    content: "10"; }
  11% {
    content: "11"; }
  12% {
    content: "12"; }
  13% {
    content: "13"; }
  14% {
    content: "14"; }
  15% {
    content: "15"; }
  16% {
    content: "16"; }
  17% {
    content: "17"; }
  18% {
    content: "18"; }
  19% {
    content: "19"; }
  20% {
    content: "20"; }
  21% {
    content: "21"; }
  22% {
    content: "22"; }
  23% {
    content: "23"; }
  24% {
    content: "24"; }
  25% {
    content: "25"; }
  26% {
    content: "26"; }
  27% {
    content: "27"; }
  28% {
    content: "28"; }
  29% {
    content: "29"; }
  30% {
    content: "30"; }
  31% {
    content: "31"; }
  32% {
    content: "32"; }
  33% {
    content: "33"; }
  34% {
    content: "34"; }
  35% {
    content: "35"; }
  36% {
    content: "36"; }
  37% {
    content: "37"; }
  38% {
    content: "38"; }
  39% {
    content: "39"; }
  40% {
    content: "40"; }
  41% {
    content: "41"; }
  42% {
    content: "42"; }
  43% {
    content: "43"; }
  44% {
    content: "44"; }
  45% {
    content: "45"; } }
@keyframes counting-3 {
  0% {
    content: "0"; }
  1% {
    content: "1"; }
  2% {
    content: "2"; }
  3% {
    content: "3"; }
  4% {
    content: "4"; }
  5% {
    content: "5"; }
  6% {
    content: "6"; }
  7% {
    content: "7"; }
  8% {
    content: "8"; }
  9% {
    content: "9"; }
  10% {
    content: "10"; }
  11% {
    content: "11"; }
  12% {
    content: "12"; }
  13% {
    content: "13"; }
  14% {
    content: "14"; }
  15% {
    content: "15"; }
  16% {
    content: "16"; }
  17% {
    content: "17"; }
  18% {
    content: "18"; }
  19% {
    content: "19"; }
  20% {
    content: "20"; }
  21% {
    content: "21"; }
  22% {
    content: "22"; }
  23% {
    content: "23"; }
  24% {
    content: "24"; }
  25% {
    content: "25"; }
  26% {
    content: "26"; }
  27% {
    content: "27"; }
  28% {
    content: "28"; }
  29% {
    content: "29"; }
  30% {
    content: "30"; }
  31% {
    content: "31"; }
  32% {
    content: "32"; }
  33% {
    content: "33"; }
  34% {
    content: "34"; }
  35% {
    content: "35"; }
  36% {
    content: "36"; }
  37% {
    content: "37"; }
  38% {
    content: "38"; }
  39% {
    content: "39"; }
  40% {
    content: "40"; }
  41% {
    content: "41"; }
  42% {
    content: "42"; }
  43% {
    content: "43"; }
  44% {
    content: "44"; }
  45% {
    content: "45"; }
  46% {
    content: "46"; }
  47% {
    content: "47"; }
  48% {
    content: "48"; }
  49% {
    content: "49"; }
  50% {
    content: "50"; }
  51% {
    content: "51"; }
  52% {
    content: "52"; }
  53% {
    content: "53"; }
  54% {
    content: "54"; }
  55% {
    content: "55"; } }

/*# sourceMappingURL=style.css.map */
